<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <add name="maintenance.My.MySettings.MAINTENANCEConnectionString"
            connectionString="Data Source= SONY-PC\SQLEXPRESS1 ;Initial Catalog=MAINTENANCE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>